{% load i18n %}
<div class="row">
  {% for toy in page_obj %}
  <div class="col-12 col-md-6 col-lg-4 mb-4">
    {% include 'partials/toy_card.html' with toy=toy %}
  </div>
  {% empty %}
  <div class="col-12 text-center">
    {% trans 'Нет товаров по выбранным фильтрам.' %}
  </div>
  {% endfor %}
</div>
<nav aria-label="{% trans 'Пагинация' %}" class="mt-4">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a
        class="page-link"
        href="?{% if selected_age %}age={{ selected_age }}&{% endif %}{% if selected_category %}category={{ selected_category }}&{% endif %}{% if selected_brand %}brand={{ selected_brand }}&{% endif %}{% if search %}q={{ search }}&{% endif %}page={{ page_obj.previous_page_number }}"
        >&laquo;</a
      >
    </li>
    {% endif %} {% for num in page_obj.paginator.page_range %}
    <li class="page-item {% if page_obj.number == num %}active{% endif %}">
      <a
        class="page-link"
        href="?{% if selected_age %}age={{ selected_age }}&{% endif %}{% if selected_category %}category={{ selected_category }}&{% endif %}{% if selected_brand %}brand={{ selected_brand }}&{% endif %}{% if search %}q={{ search }}&{% endif %}page={{ num }}"
        >{{ num }}</a
      >
    </li>
    {% endfor %} {% if page_obj.has_next %}
    <li class="page-item">
      <a
        class="page-link"
        href="?{% if selected_age %}age={{ selected_age }}&{% endif %}{% if selected_category %}category={{ selected_category }}&{% endif %}{% if selected_brand %}brand={{ selected_brand }}&{% endif %}{% if search %}q={{ search }}&{% endif %}page={{ page_obj.next_page_number }}"
        >&raquo;</a
      >
    </li>
    {% endif %}
  </ul>
</nav>
